.container {
    background-color: pink;
    display: flex;
    flex-direction: column;
    height: 1200px;

}
.header {
    background-color: blue;
    color: white;
    flex-basis: 25%;
}

.babies {
    background-color: green;
    color: white;
    display: flex;
    flex-basis: 75%;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex-flow: column wrap; */
    justify-content: space-around;

    align-items: center;
}

.photo {
    height: 150px;
    width: 150px;
    border: 5px solid black;
    background-color: purple;
   
}

@media (min-width: 800px) {
    .container {
        flex-direction: row;
        height: 100vh;
    }
    .photo {
        height: 100px;
    }
}

